<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Automation">
    <listeners>
        <listener class-name="BasicPackage.TestAllureListener"/>
    </listeners>
    <test thread-count="5" parallel="methods" name="Amazon Automation Test" preserve-order="true"
          enabled="true" group-by-instances="true">
        <groups>
            <run>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="testCases.TC_001_LoginValid"/>
        </classes>
    </test>
</suite>